.header {
    margin-top: 10px;
}

.inner {
    @include flex-center;
    flex-direction: column;
    gap: 12px;
}

.title {
    font-family: var(--font-secondary);
}

.carousel {
    position: relative;
    overflow: hidden;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        @include proportion(45px);
        z-index: 1;
    }

    &::before {
        left: 0;
        background-color: linear-gradient(to right, white, transparent);
    }

    &::after {
        right: 0;
        background-color: linear-gradient(to left, white, transparent);
    }
}

.list {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 10px;
    width: 700px;
}

.listItem {
    font-family: var(--font-primary);
    white-space: nowrap;
}

@media (max-width: 874px) {
    .list {
        width: 400px;
    }
}