.inputWrapper {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
}

.input {
    @extend %default-input;

    padding: 10px 15px;
}

.inputLabel {
    font-family: var(--font-primary);
}