.todoItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 20px;

  border: 1px solid var(--dark-color);
  border-radius: 5px;
}

.taskText {
  font-family: "Nunito";
  padding: 5px 5px;
  border-radius: var(--button-border-radius);
  border: 1px solid var(--primary-color);

  &.completedInput {
    text-decoration: line-through;
    opacity: 0.5;
  }

  &:disabled {
    @include reset-input;
    border: 1px solid transparent;
  }
}

.action {
  display: flex;
  gap: 4px;
}

%default-button {
  @include flex-center;
  @include proportion(30px);

  border-radius: var(--button-border-radius);
  border: 1px solid var(--dark-color);
}

.editButton {
  @extend %default-button;
  background-color: var(--primary-color);
}

.removeButton {
  @extend %default-button;

  background-color: var(--red-color);
}

.toggleButton {
  @extend %default-button;
  background-color: transparent;

  &.completed {
    background-color: var(--primary-color);
  }
}
