.todoItem {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 20px;

  border: 1px solid var(--dark-color);
  border-radius: 5px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.deadLineText {
  font-family: var(--font-primary);
}

.taskText {
  font-family: var(--font-primary);

  &.completed {
    text-decoration: line-through;
  }
}

.action {
  display: flex;
  gap: 4px;
}

.editButton {
  background-color: var(--primary-color);
}

.removeButton {
  background-color: var(--red-color);
}

.toggleButton {
  background-color: transparent;

  &.completed {
    background-color: var(--green-color);
  }
}