@mixin proportion($size) {
    width: $size;
    height: $size;
}

@mixin reset-input {
    background-color: transparent;
    color: inherit;
    &::placeholder{ 
        color: inherit;
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}