:root {
    --primary-color: #000000cc;
    --dark-color: #00000040;
    --red-color: #f52626;

    --block-padding: 30px 25px;
    --block-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
    --block-border-radius: 10px;
    --button-border-radius: 5px;

    --transition: 0.2s;

    --desktop: 1200px;
    --safe-padding: 40px;
}