.aside {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: var(--block-padding);
    border-radius: var(--radius);
    box-shadow: var(--block-shadow);

    @include phone {
        width: 360px;
    }
}

.title {
    font-weight: 700;
    font-size: 1.5rem;
}

.select {
    margin-top: 15px;
}

.todoList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    list-style-type: none;
    max-height: 600px;
    overflow-y: auto;
}