.aside {
    display: flex;
    flex-direction: column;
    width: 450px;
    padding: var(--block-padding);
    border-radius: var(--block-border-radius);
    box-shadow: var(--block-shadow);
}

.title {
    font-family: var(--font-primary);
}

.todoList {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 20px;
    list-style-type: none;

    max-height: 600px;

    overflow-y: scroll;
}