.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.title {
    font-family: var(--font-primary);
}

.taskChange {
    display: flex;
    flex-direction: column;
    gap: 24px;
    @extend %default-box;
    width: 600px;
    height: 400px;
}

.input {
  width: 100%;
  height: 60px;
}

.button {
    height: 60px;
}

.headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.closeButton {
    background-color: var(--primary-color);
}